@model Department
@{
    ViewData["Title"] = "New";
    
}

<h1>New</h1>
<!--/Department/SaveNew?Name= &ManagerName = -->
<form method="post" action="/Department/SaveNew">
    <div>
        <label>Name</label>
        <input class="form form-control" name="Name" id="Name" value="@Model?.Name" />
    </div>
    <div>
        <label>ManagerName</label>
        <input class="form form-control" name="ManagerName" id="ManagerName" value="@Model?.ManagerName" />
    </div>
    <input type="submit" value="Create" class="btn btn-success" />
</form>
<a href="/Department/Index">Back To List</a>