@model Employee

<div class="card" style="width:400px">
    <img class="card-img-top" src="/Images/@Model.ImageURL" style="width:100px" alt="Card image">
    <div class="card-body">
        <h4 class="card-title">@Model.Name</h4>
        <p class="card-text">Some example text.</p>
        <a href="#" class="btn btn-primary">See Profile</a>
    </div>
</div>